<div class="app-container">
  <mat-form-field>
    <mat-label>Search for specific task</mat-label>
    <input matInput type="text">
    <!-- <mat-icon matSuffix>search</mat-icon> -->
  </mat-form-field>
  <div class="buttons-container">
    <button mat-flat-button  (click)="addSection()" color="primary">Add Section</button>
    <button mat-flat-button  (click)="addTask()" color="primary">Add Task</button>
  </div>
  <!-- <button (click)="addTask()" mat-fab color="primary" aria-label="add new task button">
    <mat-icon>add</mat-icon>
  </button> -->
  <tasks-list></tasks-list>
</div>

