<form [formGroup]="taskForm" class="task-form">
  <mat-form-field appearance="empty" class="full-width">
    <mat-label>section</mat-label>
    <mat-select formControlName="section" disableRipple>
      <mat-option [value]="section" *ngFor="let section of sections; index as ">{{section}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Task</mat-label>
    <input matInput formControlName="title" type="text">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Task description</mat-label>
    <textarea matInput formControlName="description" type="text"></textarea>
  </mat-form-field>
</form>

<footer>
  <button (click)="onClickSave()" mat-stroked-button color="primary" cdkFocusInitial>save</button>
  <button (click)="onClickClose()" mat-stroked-button color="warn">close</button>
</footer>